<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title th:text="#{register.title}"></title>
</head>
<body class="d-flex flex-column">
<main class="flex-shrink-0" layout:fragment="content">
    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="card border-0 shadow rounded-3">
                        <div class="card-body p-4 p-sm-5">
                            <h2 class="text-center mb-4"
                                th:text="#{register.title}"></h2>
                            <form th:action="@{/auth/register}"
                                  method="post"
                                  th:object="${registerDto}">
                                <!-- Fail message -->
                                <div th:if="${param.fail}"
                                     class="alert alert-danger mb-4"
                                     th:text="#{register.fail}">
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="text"
                                           class="form-control"
                                           id="inputUsername"
                                           placeholder="Username"
                                           th:field="*{username}"
                                           required autofocus
                                           autocomplete="username">
                                    <label for="inputUsername"
                                           th:text="#{register.username}"></label>
                                    <div class="invalid-feedback"
                                         th:if="${#fields.hasErrors('username')}"
                                         th:errors="*{username}"></div>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="email"
                                           class="form-control"
                                           id="inputEmail"
                                           placeholder="Email"
                                           th:field="*{email}"
                                           required autocomplete="email">
                                    <label for="inputEmail"
                                           th:text="#{register.email}"></label>
                                    <div class="invalid-feedback"
                                         th:if="${#fields.hasErrors('email')}"
                                         th:errors="*{email}"></div>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="password"
                                           class="form-control"
                                           id="inputPassword"
                                           placeholder="Password"
                                           th:field="*{password}"
                                           required autocomplete="new-password">
                                    <label for="inputPassword"
                                           th:text="#{register.password}"></label>
                                    <div class="invalid-feedback"
                                         th:if="${#fields.hasErrors('password')}"
                                         th:errors="*{password}"></div>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="password"
                                           class="form-control"
                                           id="inputConfirmPassword"
                                           placeholder="Confirm Password"
                                           th:field="*{confirmPassword}"
                                           required autocomplete="new-password">
                                    <label for="inputConfirmPassword"
                                           th:text="#{register.confirm-password}"></label>
                                    <div class="invalid-feedback"
                                         th:if="${#fields.hasErrors('confirmPassword')}"
                                         th:errors="*{confirmPassword}"></div>
                                </div>
                                <div class="text-danger mb-3"
                                     th:if="${#fields.hasErrors('passwordsMatching')}"
                                     th:errors="*{passwordsMatching}"></div>
                                <div class="d-grid">
                                    <button type="submit"
                                            class="btn btn-primary"
                                            th:text="#{register.title}">
                                    </button>
                                    <a th:href="@{/auth/login}"
                                       class="btn btn-secondary mt-2"
                                       th:text="#{register.login}"></a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
</body>
</html>
