<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title th:text="#{about.title}"></title>
</head>
<body class="d-flex flex-column">
<main class="flex-shrink-0" layout:fragment="content">
    <header class="py-5">
        <div class="container px-5">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-xxl-6">
                    <div class="text-center my-5">
                        <h1 class="fw-bolder mb-3"
                            th:text="#{about.title}"></h1>
                        <p class="lead fw-normal text-muted mb-4"
                           th:text="#{about.first-content}">
                        </p>
                        <p class="lead fw-normal text-muted mb-4"
                           th:text="#{about.second-content}">
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </header>
</main>
</body>
</html>
