<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{core-theme-layout}">
<head>
    <title th:text="#{weight-logs-graph.title}"></title>
    <!-- Flatpickr CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <!-- Toastr CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <!-- Flatpickr JS -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <!-- Toastr JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <!-- Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- date-fns -->
    <script src="https://cdn.jsdelivr.net/npm/date-fns"></script>
    <!-- chartjs-adapter-date-fns -->
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
    <script th:src="@{/js/weight-logs-graph.js}"></script>
</head>
<body class="d-flex flex-column">
<main class="flex-shrink-0" layout:fragment="content">
    <section class="py-5">
        <div class="container px-5 my-5">
            <div class="d-flex justify-content-between align-items-center mb-4">
                <h1 th:text="#{weight-logs-graph.title}"></h1>
                <a th:href="@{/weight-logs}"
                   class="btn btn-secondary">
                    <i class="bi bi-arrow-left-square"></i>
                    <span th:text="#{weight-logs-graph.back}"></span>
                </a>
            </div>
            <div class="mb-4">
                <div class="row mb-3">
                    <div class="col-md-4">
                        <label for="startDate"
                               class="form-label"
                               th:text="#{weight-logs-graph.start-date}"></label>
                        <input type="text"
                               id="startDate"
                               class="form-control flatpickr"
                               placeholder="Select start date">
                    </div>
                    <div class="col-md-4">
                        <label for="endDate"
                               class="form-label"
                               th:text="#{weight-logs-graph.end-date}"></label>
                        <input type="text"
                               id="endDate"
                               class="form-control flatpickr"
                               placeholder="Select end date">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <button id="filterButton"
                                class="btn btn-primary mt-3"
                                th:text="#{weight-logs-graph.filter}">
                        </button>
                    </div>
                </div>
            </div>
            <div class="container">
                <canvas id="weightLogsChart"></canvas>
            </div>
        </div>
    </section>
</main>
</body>
</html>
