<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title th:text="#{weight-logs.title}"></title>
    <!-- Flatpickr CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <!-- Toastr CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <!-- Flatpickr JS -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <!-- Toastr JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script th:src="@{/js/weight-logs.js}"></script>
</head>
<body class="d-flex flex-column">
<main class="flex-shrink-0" layout:fragment="content">
    <section class="py-5">
        <div class="container px-5 my-5">
            <div class="d-flex justify-content-between align-items-center mb-4">
                <button class="btn btn-primary"
                        data-bs-toggle="modal"
                        data-bs-target="#addWeightLogModal"
                        th:text="#{weight-logs.add}">
                    <i class="bi bi-plus-circle"></i>
                </button>
                <a th:href="@{/weight-logs/graph}"
                   class="btn btn-secondary"
                   th:text="#{weight-logs.graph}">
                    <i class="bi bi-graph-up"></i>
                </a>
            </div>
            <div class="row">
                <div class="col">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th th:text="#{weight-logs.weight}"></th>
                            <th th:text="#{weight-logs.date}">Date</th>
                            <th th:text="#{weight-logs.time}">Time</th>
                            <th th:text="#{weight-logs.comment}">Comment</th>
                        </tr>
                        </thead>
                        <tbody id="weightLogsTableBody">
                        <tr th:each="log : ${weightLogs}"
                            th:data-id="${log.id}"
                            th:data-weight="${log.weight}"
                            th:data-date="${log.date}"
                            th:data-time="${log.time}"
                            th:data-comment="${log.comment}"
                            class="weight-log-row">
                            <td th:text="${log.weight}"></td>
                            <td th:text="${log.date}"></td>
                            <td th:text="${log.time}"></td>
                            <td th:if="${log.comment != null}"
                                th:text="${log.comment}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Add Weight Log Modal -->
            <div class="modal fade" id="addWeightLogModal" tabindex="-1" role="dialog"
                 aria-labelledby="addWeightLogModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title"
                                id="addWeightLogModalLabel"
                                th:text="#{weight-logs.add}"></h5>
                            <button type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="addWeightLogForm">
                                <div class="mb-3">
                                    <label for="addWeightValue"
                                           class="form-label"
                                           th:text="#{weight-logs.add.weight}"></label>
                                    <input type="number"
                                           class="form-control"
                                           id="addWeightValue"
                                           name="weight"
                                           step="0.1"
                                           required>
                                    <div class="text-danger" id="addWeightError"></div>
                                </div>
                                <div class="mb-3">
                                    <label for="addWeightDate"
                                           class="form-label"
                                           th:text="#{weight-logs.add.date}"></label>
                                    <input type="text"
                                           class="form-control"
                                           id="addWeightDate"
                                           name="date">
                                    <div class="text-danger" id="addDateError"></div>
                                </div>
                                <div class="mb-3">
                                    <label for="addWeightTime"
                                           class="form-label"
                                           th:text="#{weight-logs.add.time}"></label>
                                    <input type="text"
                                           class="form-control"
                                           id="addWeightTime"
                                           name="time">
                                    <div class="text-danger" id="addTimeError"></div>
                                </div>
                                <div class="mb-3">
                                    <label for="addWeightComment"
                                           class="form-label"
                                           th:text="#{weight-logs.add.comment}"></label>
                                    <textarea class="form-control"
                                              id="addWeightComment"
                                              name="comment"
                                              rows="3"></textarea>
                                    <div class="text-danger" id="addCommentError"></div>
                                </div>
                                <button type="submit"
                                        class="btn btn-primary"
                                        th:text="#{weight-logs.add.button}">
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Edit Weight Log Modal -->
            <div class="modal fade" id="editWeightLogModal" tabindex="-1" role="dialog"
                 aria-labelledby="editWeightLogModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title"
                                id="editWeightLogModalLabel"
                                th:text="#{weight-logs.edit}"></h5>
                            <button type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="editWeightLogForm">
                                <div class="mb-3">
                                    <label for="editWeightValue"
                                           class="form-label"
                                           th:text="#{weight-logs.edit.weight}"></label>
                                    <input type="number"
                                           class="form-control"
                                           id="editWeightValue"
                                           name="weight"
                                           step="0.1"
                                           required>
                                    <div class="text-danger" id="editWeightError"></div>
                                </div>
                                <div class="mb-3">
                                    <label for="editWeightDate"
                                           class="form-label"
                                           th:text="#{weight-logs.edit.date}"></label>
                                    <input type="text"
                                           class="form-control"
                                           id="editWeightDate"
                                           name="date">
                                    <div class="text-danger" id="editDateError"></div>
                                </div>
                                <div class="mb-3">
                                    <label for="editWeightTime"
                                           class="form-label"
                                           th:text="#{weight-logs.edit.time}"></label>
                                    <input type="text"
                                           class="form-control"
                                           id="editWeightTime"
                                           name="time">
                                    <div class="text-danger" id="editTimeError"></div>
                                </div>
                                <div class="mb-3">
                                    <label for="editWeightComment"
                                           class="form-label"
                                           th:text="#{weight-logs.edit.comment}"></label>
                                    <textarea class="form-control"
                                              id="editWeightComment"
                                              name="comment"
                                              rows="3"></textarea>
                                    <div class="text-danger" id="editCommentError"></div>
                                </div>
                                <button type="submit"
                                        class="btn btn-primary"
                                        id="saveChangesButton"
                                        th:text="#{weight-logs.edit.button}">
                                </button>
                                <button type="submit"
                                        class="btn btn-danger"
                                        id="deleteButton"
                                        th:text="#{weight-logs.delete}">
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
</body>
</html>
