<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Weight Log</title>
    <!-- Flatpickr CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <!-- Flatpickr JS -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script th:src="@{/js/weight-logs.js}"></script>
</head>
<body class="d-flex flex-column">
<main class="flex-shrink-0" layout:fragment="content">
    <section class="py-5">
        <div class="container px-5 my-5">
            <div class="d-flex justify-content-between align-items-center mb-4">
                <button class="btn btn-primary"
                        data-bs-toggle="modal"
                        data-bs-target="#addWeightLogModal">
                    <i class="bi bi-plus-circle"></i> Add Weight Log
                </button>
            </div>
            <div class="row">
                <div class="col">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Weight</th>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Comment</th>
                        </tr>
                        </thead>
                        <tbody id="weightLogsTableBody">
                        <tr th:each="log : ${weightLogs}"
                            th:data-id="${log.id}"
                            th:data-weight="${log.weight}"
                            th:data-date="${log.date}"
                            th:data-time="${log.time}"
                            th:data-comment="${log.comment}"
                            class="weight-log-row">
                            <td th:text="${log.weight}"></td>
                            <td th:text="${log.date}"></td>
                            <td th:text="${log.time}"></td>
                            <td th:if="${log.comment != null}" th:text="${log.comment}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Add Weight Log Modal -->
            <div class="modal fade" id="addWeightLogModal" tabindex="-1" role="dialog" aria-labelledby="addWeightLogModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addWeightLogModalLabel">Add Weight Log</h5>
                            <button type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="addWeightLogForm">
                                <div class="mb-3">
                                    <label for="addWeightValue" class="form-label">Weight (kg):</label>
                                    <input type="number"
                                           class="form-control"
                                           id="addWeightValue"
                                           name="weight"
                                           step="0.1"
                                           required>
                                    <div class="text-danger" id="addWeightError"></div>
                                </div>
                                <div class="mb-3">
                                    <label for="addWeightDate" class="form-label">Date:</label>
                                    <input type="text"
                                           class="form-control"
                                           id="addWeightDate"
                                           name="date">
                                    <div class="text-danger" id="addDateError"></div>
                                </div>
                                <div class="mb-3">
                                    <label for="addWeightTime" class="form-label">Time:</label>
                                    <input type="text"
                                           class="form-control"
                                           id="addWeightTime"
                                           name="time">
                                    <div class="text-danger" id="addTimeError"></div>
                                </div>
                                <div class="mb-3">
                                    <label for="addWeightComment" class="form-label">Comment:</label>
                                    <textarea class="form-control"
                                              id="addWeightComment"
                                              name="comment"
                                              rows="3"></textarea>
                                    <div class="text-danger" id="addCommentError"></div>
                                </div>
                                <button type="submit"
                                        class="btn btn-primary">Add
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Edit Weight Log Modal -->
            <div class="modal fade" id="editWeightLogModal" tabindex="-1" role="dialog"
                 aria-labelledby="editWeightLogModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editWeightLogModalLabel">Edit Weight Log</h5>
                            <button type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="editWeightLogForm">
                                <div class="mb-3">
                                    <label for="editWeightValue" class="form-label">Weight (kg):</label>
                                    <input type="number"
                                           class="form-control"
                                           id="editWeightValue"
                                           name="weight"
                                           step="0.1"
                                           required>
                                    <div class="text-danger" id="editWeightError"></div>
                                </div>
                                <div class="mb-3">
                                    <label for="editWeightDate" class="form-label">Date:</label>
                                    <input type="text"
                                           class="form-control"
                                           id="editWeightDate"
                                           name="date">
                                    <div class="text-danger" id="editDateError"></div>
                                </div>
                                <div class="mb-3">
                                    <label for="editWeightTime" class="form-label">Time:</label>
                                    <input type="text"
                                           class="form-control"
                                           id="editWeightTime"
                                           name="time">
                                    <div class="text-danger" id="editTimeError"></div>
                                </div>
                                <div class="mb-3">
                                    <label for="editWeightComment" class="form-label">Comment:</label>
                                    <textarea class="form-control"
                                              id="editWeightComment"
                                              name="comment"
                                              rows="3"></textarea>
                                    <div class="text-danger" id="editCommentError"></div>
                                </div>
                                <button type="submit"
                                        class="btn btn-primary"
                                        id="saveChangesButton">Save changes
                                </button>
                                <button type="submit"
                                        class="btn btn-danger"
                                        id="deleteButton">Delete
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
</body>
</html>
