<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title th:text="#{profile.title}"></title>
    <!-- Toastr CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <!-- Toastr JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script th:src="@{/js/profile.js}"></script>
</head>
<body class="d-flex flex-column">
<main class="flex-shrink-0" layout:fragment="content">
    <section class="py-5">
        <div class="container px-5 my-5">
            <div class="card mb-4">
                <div class="card-header">
                    <h5 class="card-title"
                    th:text="#{profile.header}"></h5>
                </div>
                <div class="card-body">
                    <form th:object="${user}">
                        <div class="form-group mb-3 d-flex align-items-center">
                            <label for="username"
                                   class="me-3"
                                   th:text="#{profile.username}"></label>
                            <input type="text"
                                   class="form-control"
                                   id="username"
                                   th:value="*{username}"
                                   readonly autocomplete="username">
                        </div>
                        <div class="form-group mb-3 d-flex align-items-center">
                            <label for="email"
                                   class="me-3"
                                   th:text="#{profile.email}"></label>
                            <input type="email"
                                   class="form-control"
                                   id="email"
                                   th:value="*{email}"
                                   readonly autocomplete="email">
                            <button type="button"
                                    class="btn btn-sm btn-secondary ms-3"
                                    data-bs-toggle="modal"
                                    data-bs-target="#changeEmailModal"
                                    th:text="#{profile.change}">
                            </button>
                        </div>
                        <div class="form-group mb-3 d-flex align-items-center">
                            <label for="password"
                                   class="me-3"
                                   th:text="#{profile.password}"></label>
                            <input type="password"
                                   class="form-control"
                                   id="password"
                                   value="********"
                                   readonly autocomplete="current-password">
                            <button type="button"
                                    class="btn btn-sm btn-secondary ms-3"
                                    data-bs-toggle="modal"
                                    data-bs-target="#changePasswordModal"
                                    th:text="#{profile.change}">
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- Change Email Modal -->
    <div class="modal fade" id="changeEmailModal" tabindex="-1" role="dialog" aria-labelledby="changeEmailModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"
                        id="changeEmailModalLabel"
                        th:text="#{profile.change.email}"></h5>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="changeEmailForm">
                        <div class="mb-3">
                            <label for="newEmail"
                                   class="form-label"
                                   th:text="#{profile.new-email}"></label>
                            <input type="email"
                                   class="form-control"
                                   id="newEmail"
                                   name="newEmail"
                                   autocomplete="email"
                                   required>
                            <div class="text-danger" id="newEmailError"></div>
                        </div>
                        <button type="submit"
                                class="btn btn-primary"
                                th:text="#{profile.save}">
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Change Password Modal -->
    <div class="modal fade" id="changePasswordModal" tabindex="-1" aria-labelledby="changePasswordModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"
                        id="changePasswordModalLabel"
                        th:text="#{profile.change-password}"></h5>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="changePasswordForm">
                        <div class="mb-3">
                            <label for="hiddenUsername" class="form-label visually-hidden">Username</label>
                            <input type="text"
                                   class="form-control visually-hidden"
                                   id="hiddenUsername"
                                   name="username"
                                   autocomplete="username"
                                   th:value="*{username}">
                        </div>
                        <div class="mb-3">
                            <label for="oldPassword"
                                   class="form-label"
                                   th:text="#{profile.old-password}"></label>
                            <input type="password"
                                   class="form-control"
                                   id="oldPassword"
                                   name="oldPassword"
                                   autocomplete="current-password">
                            <div class="text-danger" id="oldPasswordError"></div>
                        </div>
                        <div class="mb-3">
                            <label for="newPassword"
                                   class="form-label"
                                   th:text="#{profile.new-password}"></label>
                            <input type="password"
                                   class="form-control"
                                   id="newPassword"
                                   name="newPassword"
                                   autocomplete="new-password">
                            <div class="text-danger" id="newPasswordError"></div>
                        </div>
                        <div class="mb-3">
                            <label for="confirmPassword"
                                   class="form-label"
                                   th:text="#{profile.confirm-password}"></label>
                            <input type="password"
                                   class="form-control"
                                   id="confirmPassword"
                                   name="confirmPassword"
                                   autocomplete="new-password">
                            <div class="text-danger" id="confirmPasswordError"></div>
                        </div>
                        <button type="submit"
                                class="btn btn-primary" th:text="#{profile.edit.save}">
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>
