<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Create Exercise</title>
</head>
<body class="d-flex flex-column">
<main class="flex-shrink-0" layout:fragment="content">
    <!-- Page content-->
    <section class="py-5">
        <div class="container px-5 my-5">
            <form th:action="@{/exercises/create}"
                  th:object="${exerciseDto}"
                  method="post">
                <div class="form-group">
                    <label for="formControlInput1">Name:</label>
                    <input type="text"
                           th:field="*{name}"
                           class="form-control"
                           id="formControlInput1"
                           placeholder="e.g. Squat">
                    <div class="text-danger"
                         th:if="${#fields.hasErrors('name')}"
                         th:errors="*{name}"></div>
                </div>
                <div class="form-group">
                    <label for="formControlSelect1">Select type:</label>
                    <select class="form-control"
                            id="formControlSelect1"
                            th:field="*{type}">
                        <option th:each="exerciseType : ${exerciseTypes}"
                                th:value="${exerciseType}"
                                th:text="${#strings.capitalize(exerciseType.name())}"></option>
                    </select>
                    <div class="text-danger"
                         th:if="${#fields.hasErrors('type')}"
                         th:errors="*{type}"></div>
                </div>
                <button class="btn btn-primary"
                        type="submit">Create
                </button>
            </form>
        </div>
    </section>
</main>
</body>
</html>