<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Register</title>
</head>
<body class="d-flex flex-column">
<main class="flex-shrink-0" layout:fragment="content">
    <section class="py-5">
        <div class="container px-5 my-5">
            <!-- Fail message -->
            <div th:if="${param.fail}"
                 class="alert alert-danger">
                Username or email already exists!</div>
            <!-- Register Form -->
            <form th:action="@{/register}"
                  method="post"
                  role="form"
                  th:object="${registerDto}">
                <div class="form-group">
                    <label for="inputUsername">Username</label>
                    <input type="text"
                           class="form-control"
                           id="inputUsername"
                           aria-describedby="usernameHelp"
                           placeholder="Username"
                           th:field="*{username}">
                    <div class="text-danger"
                         th:if="${#fields.hasErrors('username')}"
                         th:errors="*{username}"></div>
                </div>
                <div class="form-group">
                    <label for="inputEmail">Email address</label>
                    <input type="email"
                           class="form-control"
                           id="inputEmail"
                           aria-describedby="emailHelp"
                           placeholder="Email"
                           th:field="*{email}">
                    <div class="text-danger"
                         th:if="${#fields.hasErrors('email')}"
                         th:errors="*{email}"></div>
                </div>
                <div class="form-group">
                    <label for="inputPassword">Password</label>
                    <input type="password"
                           class="form-control"
                           id="inputPassword"
                           placeholder="Password"
                    th:field="*{password}">
                    <div class="text-danger"
                         th:if="${#fields.hasErrors('password')}"
                         th:errors="*{password}"></div>
                </div>
                <div class="form-group">
                    <label for="inputConfirmPassword">Confirm Password</label>
                    <input type="password"
                           class="form-control"
                           id="inputConfirmPassword"
                           placeholder="Confirm Password"
                           th:field="*{confirmPassword}">
                    <div class="text-danger"
                         th:if="${#fields.hasErrors('confirmPassword')}"
                         th:errors="*{confirmPassword}"></div>
                </div>
                <div class="text-danger"
                     th:if="${#fields.hasErrors('passwordsMatching')}"
                     th:errors="*{passwordsMatching}"></div>
                <button th:href="@{/register}"
                        type="submit"
                        class="btn btn-primary">Register</button>
                <a th:href="@{/login}"
                   class="btn btn-primary">Login here.</a>
            </form>
        </div>
    </section>
</main>
</body>
</html>