<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{core-theme-layout}">
<head>
    <title th:text="#{routines.create.title}"></title>
    <!-- Toastr CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <!-- Toastr JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script th:src="@{/js/routines.js}"></script>
</head>
<body class="d-flex flex-column">
<main class="flex-shrink-0" layout:fragment="content">
    <section class="py-5">
        <div class="container px-5 my-5">
            <h2 th:text="#{routines.create.title}"></h2>
            <form th:action="@{/workouts/routines/create}"
                  th:object="${routineDto}"
                  method="post">

                <!-- Name Field -->
                <div class="form-group">
                    <label for="name"
                           th:text="#{routines.create.name-field}"></label>
                    <input type="text"
                           class="form-control"
                           id="name"
                           th:field="*{name}">
                    <div class="text-danger"
                         th:if="${#fields.hasErrors('name')}"
                         th:errors="*{name}"></div>
                </div>

                <section class="selectExerciseCount"
                         th:if="${routineDto.exercises == null}">
                    <!-- Number of Exercises Field -->
                    <div class="form-group">
                        <label for="exerciseCount"
                               th:text="#{routines.create.number}"></label>
                        <input type="number"
                               class="form-control"
                               id="exerciseCount"
                               name="exerciseCount"
                               min="1" max="20" required>
                    </div>
                    <button type="submit"
                            class="btn btn-primary btn-sm mt-2"
                            th:onclick="setExerciseCount()"
                            th:text="#{routines.create.button}">
                    </button>
                </section>

                <!-- Exercises Fields -->
                <div th:if="${routineDto.exercises != null}"
                     th:each="exercise, iterStat : *{exercises}">
                    <h4>
                        <span th:text="#{routines.create.exercise} + ' ' + ${iterStat.index + 1}"></span>
                    </h4>
                    <div class="form-group">
                        <label th:for="'exerciseSelect' + ${iterStat.index}"
                               th:text="#{routines.create.name}"></label>
                        <select class="form-control exercise-select"
                                th:id="'exerciseSelect' + ${iterStat.index}"
                                th:field="*{exercises[__${iterStat.index}__].name}"
                                data-index="${iterStat.index}">
                            <option value="" selected disabled
                                    th:text="#{routines.create.select}"></option>
                            <option th:each="exerciseOption : ${exerciseOptions}"
                                    th:value="${exerciseOption.name}"
                                    th:text="${exerciseOption.name}"></option>
                        </select>
                        <div class="text-danger"
                             th:if="${#fields.hasErrors('exercises[' + iterStat.index + '].name')}"
                             th:errors="*{exercises[__${iterStat.index}__].name}"></div>
                        <button type="button"
                                class="btn btn-link"
                                data-bs-toggle="modal"
                                data-bs-target="#addNewExerciseModal"
                                th:text="#{routines.create.new-exercise}">
                        </button>
                    </div>
                    <div class="form-group">
                        <label th:for="'sets' + ${iterStat.index}"
                               th:text="#{routines.create.sets}"></label>
                        <input type="number"
                               class="form-control"
                               th:id="'sets' + ${iterStat.index}"
                               th:field="*{exercises[__${iterStat.index}__].sets}" placeholder="0" required>
                        <div class="text-danger"
                             th:if="${#fields.hasErrors('exercises[' + iterStat.index + '].sets')}"
                             th:errors="*{exercises[__${iterStat.index}__].sets}"></div>
                    </div>
                    <div class="form-group">
                        <label th:for="'reps' + ${iterStat.index}"
                               th:text="#{routines.create.reps}"></label>
                        <input type="number"
                               class="form-control"
                               th:id="'reps' + ${iterStat.index}"
                               th:field="*{exercises[__${iterStat.index}__].reps}" placeholder="0" required>
                        <div class="text-danger"
                             th:if="${#fields.hasErrors('exercises[' + iterStat.index + '].reps')}"
                             th:errors="*{exercises[__${iterStat.index}__].reps}"></div>
                    </div>
                </div>

                <!-- Submit Button -->
                <button type="submit"
                        class="btn btn-primary mt-2"
                        th:if="${routineDto.exercises != null}"
                        th:text="#{routines.create.submit}">
                </button>
            </form>
        </div>
    </section>

    <!-- Add New Exercise Modal -->
    <div class="modal fade" id="addNewExerciseModal" tabindex="-1" role="dialog"
         aria-labelledby="addNewExerciseModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"
                        id="addNewExerciseModalLabel"
                        th:text="#{routines.create.new-exercise.modal}"></h5>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="addNewExerciseForm">
                        <div class="mb-3">
                            <label for="exerciseName"
                                   class="form-label"
                                   th:text="#{routines.create.new-exercise.name}"></label>
                            <input type="text"
                                   class="form-control"
                                   id="exerciseName"
                                   name="name"
                                   placeholder="e.g. Squat"
                                   autocomplete="name"
                                   required>
                            <div class="text-danger" id="nameError"></div>
                        </div>
                        <div class="mb-3">
                            <label for="exerciseType"
                                   class="form-label"
                                   th:text="#{routines.create.new-exercise.type}"></label>
                            <select class="form-control"
                                    id="exerciseType"
                                    name="type">
                                <option>Strength</option>
                                <option>Cardio</option>
                            </select>
                            <div class="text-danger" id="typeError"></div>
                        </div>
                        <button type="submit"
                                class="btn btn-primary"
                                th:text="#{routines.create.new-exercise.button}">
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>
