<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{core-theme-layout}">
<head>
    <title th:text="#{exercises.title}"></title>
    <!-- Toastr CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <!-- Toastr JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script th:src="@{/js/exercises.js}"></script>
</head>
<body class="d-flex flex-column">
<main class="flex-shrink-0" layout:fragment="content">
    <section class="py-5">
        <div class="container px-5 my-5">
            <div class="d-flex justify-content-between align-items-center mb-4">
                <button class="btn btn-primary"
                        data-bs-toggle="modal"
                        data-bs-target="#addExerciseModal"
                        th:text="#{exercises.add}">
                    <i class="bi bi-plus-circle"></i>
                </button>
                <a th:href="@{/exercises/graph}"
                   class="btn btn-secondary">
                    <i class="bi bi-graph-up"></i>
                    <span th:text="#{exercises.graph}"></span>
                </a>
            </div>
            <div class="row">
                <!-- Strength Exercises Column -->
                <div class="col-md-6">
                    <h3 th:text="#{exercises.strength}"></h3>
                    <div class="list-group">
                        <div id="strengthExercisesListBody">
                            <a th:each="exercise : ${exercises}"
                               th:data-id="${exercise.id}"
                               th:data-name="${exercise.name}"
                               th:data-type="${exercise.type}"
                               th:if="${exercise.type ==
                           T(com.hyuseinlesho.powerlog.model.enums.ExerciseType).Strength}"
                               class="list-group-item list-group-item-action">
                                <div>
                                    <strong th:text="#{exercises.name}"></strong>
                                    <span th:text="${exercise.name}"></span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Cardio Exercises Column -->
                <div class="col-md-6">
                    <h3 th:text="#{exercises.cardio}"></h3>
                    <div class="list-group">
                        <div id="cardioExercisesListBody"></div>
                        <a th:each="exercise : ${exercises}"
                           th:data-id="${exercise.id}"
                           th:data-name="${exercise.name}"
                           th:data-type="${exercise.type}"
                           th:if="${exercise.type ==
                           T(com.hyuseinlesho.powerlog.model.enums.ExerciseType).Cardio}"
                           class="list-group-item list-group-item-action">
                            <div>
                                <strong th:text="#{exercises.name}"></strong>
                                <span th:text="${exercise.name}"></span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Add Exercise Modal -->
            <div class="modal fade" id="addExerciseModal" tabindex="-1" role="dialog"
                 aria-labelledby="addExerciseModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title"
                                id="addExerciseModalLabel"
                                th:text="#{exercises.add}"></h5>
                            <button type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="addExerciseForm">
                                <div class="mb-3">
                                    <label for="addExerciseName"
                                           class="form-label"
                                           th:text="#{exercises.name}"></label>
                                    <input type="text"
                                           class="form-control"
                                           id="addExerciseName"
                                           name="name"
                                           placeholder="e.g. Squat"
                                           autocomplete="name"
                                           required>
                                    <div class="text-danger" id="addNameError"></div>
                                </div>
                                <div class="mb-3">
                                    <label for="addExerciseType"
                                           class="form-label"
                                           th:text="#{exercises.type}"></label>
                                    <select class="form-control"
                                            id="addExerciseType"
                                            name="type">
                                        <option th:each="type : ${exerciseTypes}"
                                                th:value="${type}"
                                                th:text="${type}">
                                        </option>
                                    </select>
                                    <div class="text-danger" id="addTypeError"></div>
                                </div>
                                <button type="submit"
                                        class="btn btn-primary"
                                        th:text="#{exercises.button}">
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Edit Exercise Modal -->
            <div class="modal fade" id="editExerciseModal" tabindex="-1" role="dialog"
                 aria-labelledby="editExerciseModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title"
                                id="editExerciseModalLabel"
                                th:text="#{exercises.edit}"></h5>
                            <button type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="editExerciseForm">
                                <div class="mb-3">
                                    <label for="editExerciseName"
                                           class="form-label"
                                           th:text="#{exercises.name}"></label>
                                    <input type="text"
                                           class="form-control"
                                           id="editExerciseName"
                                           name="name"
                                           autocomplete="name"
                                           required>
                                    <div class="text-danger" id="editNameError"></div>
                                </div>
                                <div class="mb-3">
                                    <label for="editExerciseType"
                                           class="form-label"
                                           th:text="#{exercises.type}"></label>
                                    <select class="form-control"
                                            id="editExerciseType"
                                            name="type">
                                        <option th:each="type : ${exerciseTypes}"
                                                th:value="${type}"
                                                th:text="${type}">
                                        </option>
                                    </select>
                                    <div class="text-danger" id="editTypeError"></div>
                                </div>
                                <button type="submit"
                                        class="btn btn-primary"
                                        id="saveChangesButton"
                                        th:text="#{exercises.edit.save}">
                                </button>
                                <button type="submit"
                                        class="btn btn-danger"
                                        id="deleteButton"
                                        th:text="#{exercises.edit.delete}">
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
</body>
</html>
